*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(216, 216, 216);
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: var(--bgMain);
  background-repeat: no-repeat;
  background-size: cover ; 
  background-position: bottom; */
  overflow-y:auto;
}
.content{
  width: 60%;
  height: 100%;
}
.contentLanding{
  width: 80%;
  height: 100%;
}
.mitad-inferior-degradado {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ffffff;
  border-top-left-radius: 30px; /* Ajusta el valor según el radio de borde que desees en la esquina superior izquierda */
  border-top-right-radius: 30px;/* Degradado de transparente a blanco */
  opacity: 1; /* Ajusta la opacidad según tus preferencias */
  z-index: 1000; / /* Asegura que esté por encima de otros elementos */
}
.cardContent{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing {  
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "img text";
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-accordion{
  width: 500px;
}
.titles{
  text-align: center;
  font-family: Roboto;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.colLabel{
  text-align: center;
}
.escuelaIcon{
  width: 35px;
  height: auto;
  z-index: 5;
}
.escuelaIcon2{
  width: 35px;
  height: auto;
  z-index: 5;
  padding-left: 5px;
}
.negrita{
  font-weight: bold;
}
.main::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

.main::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.main::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.linkWithoutStyles {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Usa el color heredado (normalmente el color del texto) */
  /* Si deseas eliminar otros estilos, como bordes o fondos, puedes hacerlo aquí */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 768px) {
  .landing {  
    display: inline-block;
  }
  .custom-accordion {
    width: 100%;
  }
  .content{
    width: 100%;
  }
  .cardContent{
    padding: 0px;
    padding-bottom: 40px;
  }
  .contentLanding{
    width: 100%;
  height: 100%;
  }
  .ocultar-en-mobile {
    display: none;
  }
}